/*
 * Copyright (C) 2011 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "omap4460.dtsi"
/include/ "samsung_k3pe7e700m.dtsi"

/ {
	model = "Galaxy Nexus";
	compatible = "ti,tuna", "ti,omap4430", "ti,omap4";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1 GB */
	};

        chosen {
                bootargs = "console=ttyO2 androidboot.console=ttyO2 androidboot.hardware=tuna mem=1G vmalloc=768M omap_wdt.timer_margin=30 no_console_suspend earlyprintk debug initcall_debug";
	};

	sound {
		compatible = "ti,abe-twl6040";
		ti,model = "SDP4430";

		ti,jack-detection = <1>;
		ti,mclk-freq = <38400000>;

		ti,mcpdm = <&mcpdm>;
		ti,dmic = <&dmic>;

		ti,twl6040 = <&twl6040>;

		/* Audio routing */
		ti,audio-routing =
			"Headset Stereophone", "HSOL",
			"Headset Stereophone", "HSOR",
			"Earphone Spk", "EP",
			"Ext Spk", "HFL",
			"Ext Spk", "HFR",
			"Line Out", "AUXL",
			"Line Out", "AUXR",
			"Vibrator", "VIBRAL",
			"Vibrator", "VIBRAR",
			"HSMIC", "Headset Mic",
			"Headset Mic", "Headset Mic Bias",
			"MAINMIC", "Main Handset Mic",
			"Main Handset Mic", "Main Mic Bias",
			"SUBMIC", "Sub Handset Mic",
			"Sub Handset Mic", "Main Mic Bias",
			"AFML", "Line In",
			"AFMR", "Line In",
			"DMic", "Digital Mic",
			"Digital Mic", "Digital Mic1 Bias";
	};
};

&omap4_pmx_wkup {
	pinctrl-names = "default";
	pinctrl-0 = <
			&twl6030_wkup_pins
	>;

	twl6030_wkup_pins: pinmux_twl6030_wkup_pins {
		pinctrl-single,pins = <
			0x14 0x2        /* fref_clk0_out.sys_drm_msecure OUTPUT | MODE2 */
		>;
	};
};

&omap4_pmx_core {
	pinctrl-names = "default";
	pinctrl-0 = <
			&twl6030_pins
			&twl6040_pins
			&mcpdm_pins
			&dmic_pins
			&mcbsp1_pins
			&dss_hdmi_pins
	>;

	twl6030_pins: pinmux_twl6030_pins {
		pinctrl-single,pins = <
			0x15e 0x4118	/* sys_nirq1.sys_nirq1 OMAP_WAKEUP_EN | INPUT_PULLUP | MODE0 */
		>;
	};

	twl6040_pins: pinmux_twl6040_pins {
		pinctrl-single,pins = <
			0xe0 0x3	/* hdq_sio.gpio_127 OUTPUT | MODE3 */
			0x160 0x100	/* sys_nirq2.sys_nirq2 INPUT | MODE0 */
		>;
	};

	mcpdm_pins: pinmux_mcpdm_pins {
		pinctrl-single,pins = <
			0xc6 0x108	/* abe_pdm_ul_data.abe_pdm_ul_data INPUT PULLDOWN | MODE0 */
			0xc8 0x108	/* abe_pdm_dl_data.abe_pdm_dl_data INPUT PULLDOWN | MODE0 */
			0xca 0x118	/* abe_pdm_frame.abe_pdm_frame INPUT PULLUP | MODE0 */
			0xcc 0x108	/* abe_pdm_lb_clk.abe_pdm_lb_clk INPUT PULLDOWN | MODE0 */
			0xce 0x108	/* abe_clks.abe_clks INPUT PULLDOWN | MODE0 */
		>;
	};

	dmic_pins: pinmux_dmic_pins {
		pinctrl-single,pins = <
			0xd0 0		/* abe_dmic_clk1.abe_dmic_clk1 OUTPUT | MODE0 */
			0xd2 0x100	/* abe_dmic_din1.abe_dmic_din1 INPUT | MODE0 */
			0xd4 0x100	/* abe_dmic_din2.abe_dmic_din2 INPUT | MODE0 */
			0xd6 0x100	/* abe_dmic_din3.abe_dmic_din3 INPUT | MODE0 */
		>;
	};

	mcbsp1_pins: pinmux_mcbsp1_pins {
		pinctrl-single,pins = <
			0xbe 0x100	/* abe_mcbsp1_clkx.abe_mcbsp1_clkx INPUT | MODE0 */
			0xc0 0x108	/* abe_mcbsp1_dr.abe_mcbsp1_dr INPUT PULLDOWN | MODE0 */
			0xc2 0x8	/* abe_mcbsp1_dx.abe_mcbsp1_dx OUTPUT PULLDOWN | MODE0 */
			0xc4 0x100	/* abe_mcbsp1_fsx.abe_mcbsp1_fsx INPUT | MODE0 */
		>;
	};

	dss_hdmi_pins: pinmux_dss_hdmi_pins {
		pinctrl-single,pins = <
			0x5a 0x118	/* hdmi_cec.hdmi_cec INPUT PULLUP | MODE 0 */
			0x5c 0x118	/* hdmi_scl.hdmi_scl INPUT PULLUP | MODE 0 */
			0x5e 0x118	/* hdmi_sda.hdmi_sda INPUT PULLUP | MODE 0 */
		>;
	};

	mcspi1_pins: pinmux_mcspi1_pins {
		pinctrl-single,pins = <
			0xf2 0x100	/*  mcspi1_clk.mcspi1_clk INPUT | MODE0 */
			0xf4 0x100	/*  mcspi1_somi.mcspi1_somi INPUT | MODE0 */
			0xf6 0x100	/*  mcspi1_simo.mcspi1_simo INPUT | MODE0 */
			0xf8 0x100	/*  mcspi1_cs0.mcspi1_cs0 INPUT | MODE0*/
		>;
	};

	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			0xe2 0x118        /* i2c1_scl PULLUP | INPUTENABLE | MODE0 */
			0xe4 0x118       /* i2c1_sda PULLUP | INPUTENABLE | MODE0 */
		>;
	};

	i2c2_pins: pinmux_i2c2_pins {
		pinctrl-single,pins = <
                        0xe6 0x118        /* i2c2_scl PULLUP | INPUTENABLE | MODE0 */
                        0xe8 0x118        /* i2c2_sda PULLUP | INPUTENABLE | MODE0 */
		>;
	};

	i2c3_pins: pinmux_i2c3_pins {
		pinctrl-single,pins = <
			0xea 0x118        /* i2c3_scl PULLUP | INPUTENABLE | MODE0 */
			0xec 0x118     /* i2c3_sda PULLUP | INPUTENABLE | MODE0 */
		>;
	};

	i2c4_pins: pinmux_i2c4_pins {
		pinctrl-single,pins = <
			0xee 0x118        /* i2c4_scl PULLUP | INPUTENABLE | MODE0 */
			0xf0 0x118     /* i2c4_sda PULLUP | INPUTENABLE | MODE0 */
		>;
	};

	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			0x106 0x110    /* uart3_rx INPUTENABLE | MODE0 */
			0x108 0x0      /* uart3_tx OUTPUT | MODE0 */
		>;
	};
};

&uart1 {
	status = "okay";
	/*pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;*/

	wakeup-capable = <1>;
};

&uart2 {
	status = "okay";
	/*pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;*/
};
	
&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;

	wakeup-capable = <1>;
};

&uart4 {
	status = "okay";
	/*pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;*/
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;

	clock-frequency = <400000>;

	twl: twl@48 {
		reg = <0x48>;
		/* SPI = 0, IRQ# = 7, 4 = active high level-sensitive */
		interrupts = <0 7 4>; /* IRQ_SYS_1N cascaded to gic */
		interrupt-parent = <&gic>;
	};

	twl6040: twl@4b {
		compatible = "ti,twl6040";
		reg = <0x4b>;
		/* SPI = 0, IRQ# = 119, 4 = active high level-sensitive */
		interrupts = <0 119 4>; /* IRQ_SYS_2N cascaded to gic */
		interrupt-parent = <&gic>;
		ti,audpwron-gpio = <&gpio4 31 0>;  /* gpio line 127 */

		vio-supply = <&v1v8>;
		v2v1-supply = <&v2v1>;
		enable-active-high;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	clock-frequency = <400000>;
	
	ducati@20 {
		compatible = "ti,ducati";
		ext-master = <1>;
	};	
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;

	clock-frequency = <100000>;
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins>;

	clock-frequency = <400000>;
	
	an30259a@30 {
		compatible = "led,an30259a";
	};	
};

&i2c5 {
	status = "ok";
	gpios = <&gpio4 2 0 /* sda - gpio line 98 */
		 &gpio4 3 0 /* scl - gpio line 99 */
		>;
	i2c-gpio,sda-open-drain;
	i2c-gpio,scl-open-drain;
	udelay = <3>;
	#address-cells = <1>;
	#size-cells = <0>;
};


/include/ "twl6030.dtsi"

&twl {
	clk32kaudio: regulator-clk32kaudio {
		compatible = "ti,twl6030-clk32kaudio";
	};
};

&vaux1 {
	regulator-min-microvolt = <3000000>;
	regulator-always-on;
};

&vaux2 {
	regulator-state-mem {
		regulator-off-in-suspend;
	};
};

&vaux3 {
	regulator-min-microvolt = <3100000>;
	regulator-max-microvolt = <3100000>;
};

&vmmc {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&vusim {
	regulator-min-microvolt = <2200000>;
	regulator-max-microvolt = <2200000>;
};

&vana {
	regulator-always-on;
};

&vusb {
	regulator-state-mem {
		regulator-off-in-suspend;
	};
};

&mcspi1 {
	status = "ok";
	pinctrl-names = "default";
	pinctrl-0 = <&mcspi1_pins>;
	
	ti,tuna-pinswap = <1>;
};

&mcspi2 {
	status = "disabled";
};

&mcspi3 {
	status = "disabled";
};

&mcspi4 {
	status = "disabled";
};

&mmc1 {
	vmmc-supply = <&vmmc>;
	bus-width = <8>;
};

&mmc2 {
	status = "disabled";
};

&mmc3 {
	status = "disabled";
};

&mmc4 {
	status = "disabled";
};

&mmc5 {
	bus-width = <4>;
	ti,non-removable;
};

&emif1 {
	cs1-used;
	device-handle = <&samsung_K3PE7E700M>;
};

&emif2 {
	cs1-used;
	device-handle = <&samsung_K3PE7E700M>;
};

&mcbsp2 {
	status = "disabled";
};

&mcbsp3 {
	status = "disabled";
};

&twl_usb_comparator {
	usb-supply = <&vusb>;
};

&usb_otg_hs {
	interface-type = <1>;
	mode = <3>;
	power = <50>;
};
